* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  /* min-height: 3000px; */
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem 7%; */
  background-color: #003017ea;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar h1 {
  color: #fff;
  font-size: 1.5rem;
  font-style: italic;
  padding: 0.5rem;
}
.navbar h1 span {
  color: #45a049;
}
.navbar-nav a {
  font-size: 1rem;
  display: inline-block;
  color: #fff;
  margin: 0.1rem;
  padding: 0.5rem;
  text-decoration: none;
}
.navbar-nav a:hover {
  transform: scale(1.1);
}
.navbar-extra a {
  color: #fff;
  padding: 0.5rem;
  margin: 0.5rem;
}
.navbar-extra a:hover {
  color: #007940;
}

.order-container {
  align-items: center;
  /* padding: 0.5rem 7%; */
  background-color: #fff;
  top: 3.2rem;
  position: fixed;
  right: -100%;
  width: 18rem;
  height: 100vh;
  transition: 0.3s;
}
.order-container.active {
  right: 0;
}
.order-container p {
  color: #000;
  text-shadow: 0.1px 0.1px 0.3px #2c2c2c;
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
  border-bottom: 1px solid #2c2c2c;
}

/* --index-- */
.slideshow-container {
  margin: auto;
}
.slide {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  padding: 16px;
  color: #45a049;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  user-select: none;
}
.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.box {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
}
.box-a {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 11rem;
  text-align: center;
  transition: transform 0.3s;
}
.box-a:hover {
  transform: scale(1.05);
}
.box-a img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.box-a p {
  color: #000;
  font-weight: 700;
}
.bnn {
  margin-top: 10px;
}
.bnn img {
  width: 100%;
}
.pack,
.about,
.shop-img {
  display: flex;
  margin: 5rem;
  margin-top: 0;
  gap: 10px;
  align-items: center;
}
.pack-img,
.about-img,
.shop-maps {
  flex: 1 1 45rem;
}
.pack-img img {
  width: 100%;
}
.pack-title,
.about-title,
.shop h1 {
  color: #000;
  flex: 1 1 40rem;
  align-items: center;
}
.pack-title h1,
.about-title h1 {
  font-size: 5rem;
}
.pack-title p {
  font-size: 2rem;
}
.about {
  margin: 0;
  gap: 5rem;
  background-image: url(image/burger.JPG);
  min-height: 70vh;
}
.about-title {
  text-align: right;
  color: #fff;
}
.about-img img {
  width: 50%;
  border-radius: 50%;
}
.shop {
  margin-top: 5rem;
}
.shop h1 {
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
}
.shop-img {
  gap: 30px;
}
.shop-img img {
  width: 100%;
  border-radius: 8%;
  border: 3px solid #007940;
}
.shop-img a:hover {
  transform: scale(1.05);
}
/* --index end-- */

#menu {
  display: none;
}

/* --footer-- */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 7%;
  background-color: var(--bg);
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #007940;
}
footer .col {
  display: flex;
}
footer .social a {
  color: #fff;
  padding: 0.5rem;
}
footer .social a:hover {
  color: #93ceff;
}
footer .links a {
  font: 300 1rem Poppins;
  display: inline-block;
  color: #fff;
  margin: 0.01rem;
  margin-left: 5rem;
}
footer .links a:hover {
  color: #fff4b4;
}
footer .credit p {
  font: 100 1rem Poppins;
  color: #fff;
  margin: 1rem;
}
footer .credit p span {
  color: #fff4b4;
}
/* --footer end-- */

/* --media queries-- */
/* tablet */
@media (max-width: 800px) {
  html {
    font-size: 60%;
  }

  #search {
    display: inline-block;
  }
  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #3e527a;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #fff4b4;
    text-shadow: 0.1px 0.1px 0.3px #2c2c2c;
    display: block;
    margin: 0.7rem;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: #3e527a;
    border-top: 1px solid #fff4b4;
    border-left: 1px solid #fff4b4;
    border-bottom: 1px solid #2c2c2c;
    border-right: 1px solid #2c2c2c;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
}

/* mobile phone */

@media (max-width: 720px) {
  html {
    font-size: 65%;
  }

  #menu {
    display: inline-block;
  }
}

/* Contact Us */
.contact-container {
  max-width: 800px;
  margin: 80px auto; 
  padding: 40px;
  text-align: center;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #000;
}

.contact-container p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 30px;
  text-align: left;
}

label {
  display: block;
  font-size: 1.2rem;
  color: #666;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #45a049;
}

button[type="submit"] {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #45a049;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #007940;
}

/* Shop */
.shop-container {
  max-width: 800px;
  margin: 80px auto; 
  padding: 20px;
  text-align: center;
  color: #000;
  background-color: #fff; 
}

.shop-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.shop-list {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto; 
}

.shop-item {
  flex: 0 0 auto; 
  width: 30%; 
  margin-right: 20px; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left; 
  box-sizing: border-box; 
}

.shop-item:last-child {
  margin-right: 0; 
}

.shop-item img {
  width: 100%;
  border-radius: 8%;
  border: 3px solid #007940;
}

.shop-item h2 {
  font-size: 1.8rem;
  margin-top: 10px;
}

.shop-item p {
  font-size: 1rem;
  margin: 5px 0;
}